{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<form method="POST">
  <h3 align="center">Login</h3>
  <div class = "form-group">
    <label for="role">Role: </label>
    <select name="role" id="role">
        <option value="role0">--Select Role--</option>
        <option value="role1">Student</option>
        <option value="role2">Professor</option>
        <option value="role3">Librarian</option>
        <option value="role4">Head Librarian</option>
        <option value="role5">IT Support</option>
     </select>
  </div>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Enter password"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}